#gallary {
  width: 980px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
#gallary section {
  width:230px;
  height:300px;
  margin-left: 15px;
}
img {
  width:200px;
  height:200px; 
  margin:auto;
}